argh==0.26.2
asgiref==3.3.1
coverage==5.3
Django==3.1.4
django-debug-toolbar==3.1.1
docutils==0.16
flake8==3.8.4
isort==5.6.4
libsass==0.20.1
mccabe==0.6.1
mysqlclient==2.0.1
pathtools==0.1.2
pycodestyle==2.6.0
pyfakefs==4.3.2
pyflakes==2.2.0
pytz==2020.4
PyYAML==5.3.1
six==1.15.0
sqlparse==0.4.1
watchdog==0.10.4
